* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(204, 221, 221);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#333;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #2c3e50;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;

}

body > p {
    text-align: center;
    color: #7f8c8d;
    font-size: 20px;
    margin-bottom: 40px;
}

article {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    transition: transform 2s ease;
}

article:hover {
    transform: translateY(-3px);
}
 article h2 {
    color: #2980b9;
    margin-bottom: 15px;
    font-size: 25px;
 }

 article img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
 }

 article p {
    color: #4b4949;
    font-size: 16px;
 }
